/**
 * @file
 * Schema.org Next.js components preview styles.
 */

.schemadotorg-next-components-preview-copy {
  display: none;
}

html.js .schemadotorg-next-components-preview-copy {
  display: block;
}

.schemadotorg-next-components-preview-copy-message {
  display: none;
  transition: opacity 1s;
  font-weight: bold;
}

.schemadotorg-next-components-preview-copy-message::before {
  content: '✓';
}

pre.schemadotorg-next-components-preview-code {
  padding: 1em;
  border: 1px solid #999;
  background-color: #efefef;
}
